/* SecondComponent.css */
.latest-news-container {
  width: 100%;
  max-width: 90%;
  margin: auto;
  overflow: hidden;
  padding-bottom: 20px; /* Padding to lift the content up */
  margin-top: 200px;
  

}

.app-title {
  text-align: center;
  color: #000758;
  margin: 50px 0;
}

.app-title h1 {
  font-size: 52px;
  font-family: "Sora", sans-serif;
}

.card-list {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  overflow-x: auto; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
  gap: 15px; /* Space between cards */
  padding: 20px 0; /* Padding for aesthetics */
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: #888 #f0f0f0; /* Changes the scrollbar color */
}

.card {
  flex: 0 0 250px; /* flex-basis set to the width of the card, flex-grow and flex-shrink disabled */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-header {
  height: 200px; /* Half of the card height */
  background-size: cover;
  background-position: center;
}

.card-header--title {
  padding: 10px;
  background-color: rgb(6, 0, 75);
  color: #fff;
  font-size: 1.25rem;
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 160px;
}

.card-body h2 {
  margin-bottom: 10px; /* Margin for spacing */
}

.button-primary {
  background-color: #00044d;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: auto; /* Pushes the button to the bottom */
}

/* Improved Scrollbar Styles for Webkit Browsers */
.card-list::-webkit-scrollbar {
  height: 8px;
}

.card-list::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.card-list::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 4px;
  border: 2px solid #f0f0f0; /* Creating padding effect inside the track */
}


@media (max-width: 1200px) {
  .latest-news-container {
   
    margin-top: 100px;
  
  }
  
}
@media (max-width: 768px) {
  .app-title h1 {
    font-size: 32px;
  }
  .latest-news-container {
   
    margin-top: 50px;
  
  }
  
}

@media (max-width: 650px) {

  .latest-news-container {
   
    margin-top: 5px;
  
  }
  .app-title {
    margin-top: 20px;
  }

  .app-title h1 {
    font-size: 24px;
  }
}
